@font-face {
  font-family:NotoSansTC;
  src: url(assets/NotoSansTC-Regular.otf);
  font-weight: normal;
}
h1 {
  position: relative;
  color: aliceblue;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  margin: 0px;
  letter-spacing:1px;
  font-family:NotoSansTC,sans-serif,"Microsoft JhengHei";
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
h1::before {
  content: attr(data-storke);
}
h1::before {
  position: absolute;
  z-index: -1;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: var(--webColor, #121212);
  text-stroke-width: 6px;
  text-stroke-color: var(--Color, #121212);
  text-shadow:0 0 10px #121212;
}
img{
  position: relative;
  overflow: hidden;
}
